@model IEnumerable<MVC_Task2.Models.ProductVM>
@{
    ViewBag.Title = "Home Page";
}

<ul class="product-list-vertical">
    @foreach (var item in Model)
    {
        <li>
            <a href="#" class="product-photo">
                <img src="~/Content/Images/@item.Img_Url" height="160" alt="@item.Img_Url" />
            </a>
            <div class="product-details">
                <a href="#" class="product-compare">compare</a>
                <h2><a href="#">@item.Name</a></h2>
                <div class="product-rating">
                    <div>
                        <span class="product-stars" style="width: cal(@item.Rate*15)">

                                    @for (int i = 0; i < item.Rate; i++)
                                    {
                                        <i class="fa fa-star" style="margin:0;padding:0"></i>
                                    }
                             
                        </span>
                    </div>
                    <span><a href="#">@item.NumOfReviews reviews</a></span>
                </div>
                @{
                    var x = "qty" + item.Id.ToString();
                    <div id="@x" style="margin-top:5px"><h4>@item.Quantity Pieces</h4></div>
                }
                <p class="product-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ornare sem sed nisl dignissim, facilisis dapibus lacus vulputate. Sed lacinia lacinia magna.</p>
                
                @Ajax.ActionLink("Buy", "Buy", new { productID = item.Id }, new AjaxOptions() { HttpMethod = "Get" }, new { @class = "btn btn-primary" })
                <p class="product-price">$@item.Price</p>
            </div>
        </li>
    }
</ul>

@section Scripts {
    @Scripts.Render("~/bundles/signalr")
    <script src="/signalr/js">

    </script>
    <script>
            var proxy = $.connection.ChangeQty;
            $.connection.hub.start().done(
                function () {

                });
            proxy.client.QtyChange = function (id, qty) {

                $("#qty" + id).html("<h4>"+qty+" Pieces</h4>");

            }
    </script>
}








